@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecfeff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
